*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background:linear-gradient(to right,#36CDF8,#00C99D);
}

nav{
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}

.logo{
    flex-basis: 20%;
}

.logo img{
    width: 100px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
}

.nav-links ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.nav-links ul li a:hover{
    color: #FFC915;
}

.information{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
}
#circle{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: 1s;
    /* background: #ccc; */
}
.feature img{
    width: 70px;
}

.feature {
    position: absolute;
    display: flex;
    color: #fff;
}
.feature div{
    margin-left: 30px;
}
.feature div p{
    margin-top: 8px;
}
.one{
    top: 450px;
    right: 50px;
}
.two{
    top: 150px;
    left: 350px;
    transform: rotate(-90deg);
}
.three{
    bottom: 450px;
    left: 50px;
    transform: rotate(-180deg);
}
.four{
    bottom: 150px;
    left:350px ;
    transform: rotate(-270deg);
}

.mobile{
    width: 300px;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translateY(-50%);
    z-index: 1;
}

.controls{
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50% );
    text-align: center;
}

.controls h3{
    margin: 15px 0px;
    color: #fff;
    
}

#Upbtn{
    width: 15px;
    cursor: pointer;
}
#Downbtn{
    width: 15px;
    cursor: pointer;
    transform: rotate(180deg);
}

.overlay{
    width: 0;
    height: 0;
    border-top: 500px solid #fff;
    border-bottom: 500px solid #fff;
    border-right: 500px solid transparent ;
    border-left: 500px solid #fff;
    position: absolute;
    left: 0;
    top: 0;
}